<!doctype html>

<html data-ng-app="todoApp" lang="en">
<head>
	<meta charset="utf-8">
	<title>Distributed To Do List</title>
	<meta name="description" content="cs416-Team">
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900|Lato:400,700' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>

	<style>
		* {
			box-sizing: border-box;
		}
		body {
			/*font-family: 'Montserrat'*/
		}

		.jumbotron {
			background-color: #563d7c


		}
		.jumbotron h1 {
				color: #ffffff;
		}

		.btn {
			margin-bottom: 10px;
		}

		input {
			margin-bottom: 10px;
		}
	</style>
</head>


<body data-ng-controller"Controller">
	<div class="jumbotron">
		<div class="container-fluid">
			<center><h1>The No(de) Conflict To Do List</h1></center>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="well col-xs-12 col-md-6">
				<h3>Enter a Task</h3>
<!-- ADD TASK INPUT ================================================== -->
				<div class="form-group">
					<h3><small class="text-muted">Please type a task and description</small></h3>
					<form class="form-horizontal" data-ng-controller="Controller" name="addform" role="form" method="POST">
						<input class="form-control" name="task" type="text" required ng-minlength="1" ng-model="todo.task" placeholder="Task Name">
						<input class="form-control" name="description" type="text" required ng-minlength="1" ng-model="todo.description" placeholder="Task Description">
						<button class="btn btn-success" ng-disabled="addform.$invalid" ng-click="addTask()" type="submit">Add</button>
					</form>

<!-- // GET TASK INPUT ================================================== -->

					<form name="getform" data-ng-controller="Controller" name="getform" method="get">
						<input class="form-control" name="getinput" required ng-model="getkey" type="text" placeholder="Look Up Task by Key">
						<button class ="btn btn-warning" id="get-button" ng-disabled="getform.$invalid" ng-click="getTask()" type="submit">Get</button>
					</form>
				</div>
			</div>

<!-- // TODO LIST OUTPUT AND REFRESH ================================================== -->
			<div data-ng-controller="Controller" class="col-xs-12 col-md-6" id="todolist">
				<table class="table table-striped table-hover" data-ng-controller="Controller">
					<thead class="thead-default">
						<tr>
							<th><h3>Task</h3></th>
							<th><h3> Description</h3></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="t in localtasks.tasklist track by $index">
							<td><h4>{{t.task}}</h4></td>
							<td><h4>{{t.description}}</h4></td>
							<td>
								<button class="btn btn-default" ng-click="deleteTask($index, t.task)" aria-label="Left Align">
									<span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
				<button class="btn btn-primary" id="refresh-button" ng-click="refreshTasks()" type="submit">Refresh</button>
			</div>
	</div>
	<script>
		"use strict";
		// define angular module/app
		var todoApp = angular.module('todoApp', []);

		// define global service
		todoApp.service('global', function() {
			this.tasklist = [];

			this.addTask = function(task) {
				this.tasklist.push(task);
			}

			this.filter = function(task) {
				this.tasklist = $.grep(this.tasklist, function(e) {
					return e.task != task.task;
				});
			}
			this.deleteTask = function(index) {
				this.tasklist.splice(index, 1);
			}
		});

		// create angular controller and pass in $scope
 		todoApp.controller('Controller', ['$scope','$http', 'global', function($scope, $http, global) {
			$scope.localtasks = global;
			$scope.todo = {};
			$scope.getkey = "";

			// Function to PUT task to server
			$scope.addTask = function() {
				console.log("tasklist before add: " +JSON.stringify(global.tasklist));
				console.log("todo: " +JSON.stringify($scope.todo));

	   		$http({
	          method  : 'POST',
	          url     : '/add',
	          data    : $scope.todo, //forms user object
			 	}).then(function() {
					global.addTask($scope.todo);
					console.log("tasklist after add: " +JSON.stringify(global.tasklist));
					$scope.todo = null;
					$scope.task = null;
	  				$scope.description = null;
	  				$scope.addform.$setPristine(); //Set form to pristine mode
				}, console.log("Error Adding Task"));
			};

			// Function to GET task from server
			$scope.getTask = function() {
				console.log("tasklist before Get: " +JSON.stringify(global.tasklist));

				var key = $scope.getkey;
				console.log(key);
	   		$http({
	          method  : 'GET',
	          url     : '/get/'+key,
				 dataType : 'json'
			 	}).then(function(response) {
					 // if there is no description we do not add to list
					// $scope.todo = angular.fromJson(response);
					var incoming = response.data
					var t = {"task":incoming.task,
								 "description":incoming.description};
			 		console.log(JSON.stringify(t));
					// check if description is NOT EMPTY STRING "" then
					//remove duplicate key in tasklist
					global.filter(t);
					if (t.description != "") {
						//remove duplicate key in tasklist
						global.filter(t);
						// add updated task to the tasklist
						global.addTask(t);
					}
					console.log("tasklist after GET: " + JSON.stringify(global.tasklist));
					// reset form
					$scope.getkey = null;
	  				$scope.getform.$setPristine(); //Set form to pristine mode
				});
			};

			// DELETE
			$scope.deleteTask = function(index, key) {
				console.log("tasklist before DELETE: " +JSON.stringify(global.tasklist));
				console.log("key: " +JSON.stringify(key));

	   		$http({
	          method  : 'DELETE',
	          url     : '/get/'+key,
				 dataType : 'json'
			 	})
				.then(function() {
					//remove duplicate key in tasklist
					console.log(" BEFORE: " + JSON.stringify(global.tasklist));

					global.deleteTask(index);

					console.log("SUCCESSFUL DELETE: " + JSON.stringify(global.tasklist));
				}, console.log("Error Deleting"));
			}

			// REFRESH THE TASKLIST
			$scope.refreshTasks = function() {
				$scope.getTasks();
			};

			$scope.getTasks = function() {
					console.log("RefreshTask Function Activated");
					console.log("tasklist before: " +JSON.stringify(global.tasklist));

					angular.forEach(global.tasklist, function(item) {
						console.log("inside for each");
						// $scope.$apply(function() {   // wrapper to refresh content
						var key = item.task;
						console.log("tasklist in loop: " +JSON.stringify(global.tasklist));
						console.log("item:" + JSON.stringify(item));
						console.log("key:" + JSON.stringify(key));

						if (key != undefined) {
							console.log("GETTING key:" +key);
							$http({
								method: 'GET',
								url: '/get/'+key,
							})
							.then(function(response) {
								var incoming = response.data
								var t = {"task":incoming.task,
											 "description":incoming.description};
								//remove duplicate key in tasklist
			 					global.filter(t);
								// check if description is NOT EMPTY STRING "" then
								if (t.description != "") {
									// console.log("inner loop task:" + t.task);
									// console.log("inner loop desc:" + t.description);

									// add updated task to the tasklist
									global.addTask(t);
									console.log("SUCCESSFUL GET of:" + JSON.stringify(t));
								}

							}, console.log("Error getting tasks"));
						}
					});
					// });
				};
		}]);



		//
		// 	function ConvertFormToJSON(form) {
		// 	    var array = jQuery(form).serializeArray();
		// 	    var json = {};
		// 	    jQuery.each(array, function() {
		// 	        json[this.name] = this.value || '';
		// 	    });
		// 	    return json;
		// 	}
		//
		// 	// ADD TASK FUNCTION
		// 	$('form').bind('submit', function(event){
		// 		event.preventDefault();
		// 		var form = this;
		// 		var json = ConvertFormToJSON(form);
		// 		console.log(json);
		// 		$.ajax({
		// 			type:"POST",
		// 			url: "/add",   /*SERVER URL */
		// 			data: JSON.stringify(json),
		// 			dataType: "json",
		// 			contentType: "application/json",
		// 			success: function(newtask) {
		// 				console.log('New Task Added')
		// 				var t = {"task":json.task, "description":json.description};
		// 				tasklist.push(t);
		// 				console.log(tasklist);
		// 				$("form").trigger("reset"); // clear form after success!
		// 			},
		// 			error: function() {
		// 				alert('error adding task');
		// 			}
		// 		});
		// 		return true;
		// 	});
		//
		// 	$('#refresh-button').click(function() {
		// 		GetJSONData();
		// 	});
		//
		// 	// GET TODO LIST
		// 	function GetJSONData() {
		// 		$('table').empty();  // clear list
		// 		$.each(tasklist, function(i, item) {
		// 			var key = item.task;
		// 			$.ajax({
		// 				type:"GET",
		// 				url: "/"+key,
		// 				dataType: "json",
		// 				contentType: "application/json",
		// 				success: function(response) {
		// 					console.log('Successful Get')
		// 					console.log(response)
		// 					if (response.description != null) {
		// 						$('ul').append("<li><b>Task:</b> " + response.task +
		// 							", <b>Description:</b> " + response.description + "</li>");
		// 							$(this).fadeIn(500);
		// 						}
		// 					},
		// 				error: function() {
		// 					console.log('error getting todo:'+key);
		// 				}
		// 			});
		// 		});
		// 	}
		// }

		// jQuery(document).on('ready',function() {
		//
		//
		// 	window.setInterval(function(){
		// 	  	GetJSONData(); /// call your function here
		// 	}, 5000);
		// 		// $('.tasks-container').load(load.html); {
				// 	var $tasks = $('#tasks');
				// 	$.ajax({
				// 		type:'GET',
				// 		url: '/todos',   /*SERVER URL */
				// 		success: function(tasks) {
				// 			if(!$.isEmptyObject(tasks)) {
				// 				// var obj = JSON.parse(data);
				// 				$.each(tasks, function(i, item) {
				// 					$tasks.append('<li><b>Task:</b> '+ item.task + ', </b>Description:</b> ' + item.description + '</li>');
				// 				});
				// 			}
				// 		},
				// 		timeout: 4000,
				// 		error: function() {
				// 			alert('error loading tasks');
				// 		}
				// 	});
				// };
			// setInterval('AutoRefreshTasks()', 5000); // refresh div after 5 secs
	</script>
</body>
</html>
